<html>
<head>
  <title>Flatiron Name Game</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="all">
</head>
  <body>
    <div class = "wrapper">
      <div class = "left">
        <div class = "student"> <% temp = s.random_image %>
          <a href= <%= temp[0] == s.image ? s.next_url : "incorrect" %>><img width="304" height="304" src="<%= temp[0] %>"></a>
          <a href= <%= temp[1] == s.image ? s.next_url : "incorrect" %>><img width="304" height="304" src="<%= temp[1] %>"></a>
          <a href= <%= temp[2] == s.image ? s.next_url : "incorrect" %>><img width="304" height="304" src="<%= temp[2] %>"></a>
          <h2> <%= s.name %> </h2>
        </div>
      </div>
    </div>
  </body>
</html>